h1{

width: 100px;
 
background-color: orange;

border: 1px solid black;

border-radius: 10px;

text-align: center;

padding: 10px;


opacity: 0.5 ;

}

h1:hover{

    opacity: 1;
}

.circle{

    width: 150px;

    height: 150px;

    margin: auto;

    border-radius: 50%;

    opacity: 0.5;

    transition: 0.5s;

    box-shadow: 5px 10px #888888;

    margin: 10px;

    margin-left: 500px;
    
}

.circle:hover{

    opacity: 1;
}

#red{

    background-color: red;
}

#yallow{

background-color: yellow;

}

#green{

    background-color: green;
}

